- total = @resources.total_notifications
- unread = @resources.unread_notifications
- pending = total - unread
- if pending > 0 || unread > 0
  - msg = [ (unread > 0 ? "#{unread} new" : nil), (pending > 0 ? "#{pending} pending" : nil) ].reject(&:blank?).join(", ")
  %tr
    %th.col-sm-2 Notifications:
    %td.col-sm-9= msg
    %td.col-sm-1= help_icon "Notifications are...", more_title: "Notifications", more_text: "Notifications are blah blah blah"
