@IconLess = React.createClass
  render: -> `<SvgIcon name='less' path='<%= Icons::PATHS[:expand_less] %>' />`
@IconMore = React.createClass
  render: -> `<SvgIcon name='more' path='<%= Icons::PATHS[:expand_more] %>' />`
@SvgIcon = React.createClass
  render: ->
    cl = "icon #{this.props.name}"
    `<div className={cl}>
      <svg preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'>
        <g><path d={this.props.path} /></g>
      </svg>
    </div>`
