- @submenu = :new_notifications
- @section = :notifications
- @section_title = raw t '.title'
- @section_root  = true

.page-header
  = raw t '.info'

= react_component 'NotificationsBox', nothing_text: t('.none'), no_old_hiding: true

