- @submenu = :my_libraries
- @section = :libraries
- @section_title = raw t '.title'
- @section_root  = true

.page-header
  = raw t '.info'

.row
  .col-sm-12
    = render partial: 'libraries_table', object: @libraries

.row
  .col-sm-12
    = link_to t(".new_library"), :new_library, class: "btn btn-default"
