- @submenu = :project_requests
- @section = :projects
- @section_title = raw t '.title'

.page-header
  = raw t '.info'

%table.table
  %tr
    %th Id:
    %td= params[:id]
  %tr
    %th Type:
    %td= params[:type]
  %tr
    %th Challenge:
    %td= params[:challenge]
