- @submenu = :my_experiments
- @section = :experiments
- @section_title = raw t '.title'
- @section_root  = true

.page-header
  = raw t '.info'

.row
  .col-sm-12
    = render partial: 'experiments_table', object: @experiments
