- uid = @app_session.current_user_id
- pid = @experiment.id.split(':').first
- is_owner = @experiment.owner == uid
- @submenu = :my_experiments
- @section = :experiments
- @section_title = raw t '.title', id: @experiment.id

.page-header
  = raw t '.info', owner: @experiment.owner


.row
  .col-sm-12
    TBD
