deter_project_link: "http://deter-project.org/"
contact_link: "http://info.deterlab.net/contact_deterlab"
guide_link: "http://deter-project.org/#guide"

deter_lab:
  wsdl: "https://spidev.isi.deterlab.net:52323/axis2/services/%s?wsdl"

# refresh rate of the realization status / resource view
realization_refresh_rate: 30

# main library id
main_library_id: 'john:MainLibrary'

# Redis memory cache namespace
redis_namespace: deter-gdocs

dashboard:
  # Max number of list items in dashboard resources list
  list_items: 3

project_approval_log:
  # Number of items to show in recent activity log
  last_max: 10

  # Number of items to keep in recent activity log
  days_max: 90
