$icon_size: 24px;
$icon_padding: 10px;

.alert.header {
  margin-top: -20px;
  padding:10px 10px 10px 10px;
  background-color: #ffffff;
  color: #00B8FF;
  min-height:24px;
  line-height:24px;

  .glyphicon {
    float: left;
    font-size: $icon_size;
    margin-right: $icon_padding;
    display: block;
    width: $icon_size;
  }

  .msg {
    margin-left: $icon_size + $icon_padding;
  }
}

.alert.alert-error {
  border-color: #eed3d7;
  color: #b94a48;
  background-color: #f2dede;
}
