$icon_size: 24px;
$icon_padding: 10px;

.alert.header {
  margin-top: -20px;
  padding: 0;
  background-color: #f8f8f8;
  color: #00B8FF;
  min-height:24px;
  line-height:24px;

  .icon {
    display: inline-block;
    font-size: $icon_size;
    margin-right: $icon_padding;
    width: $icon_size;
  }

  .msg {
    display: inline-block;
  }
}

.alert.alert-error {
  border-color: #eed3d7;
  color: #b94a48;
  background-color: #f2dede;
}
