body {
  padding-top: 74px + 20px + 48px;
}

body.loggedout {
  padding-top: 74px + 20px;
}

body#spi_log_index {
  padding-top: 0;
}

#main-wrapper {
  min-height: 100vh;
  // margin-top: -80px;
  // padding-top: 74px;
}
// body.loggedout #main-wrapper {
//   padding-top: 74px + 20px;
// }

.spinner {
  width: 32px;
  height: 32px;
  background: image-url('preloader-32x32.gif') transparent 0 0 no-repeat;
}
.spinner.with-text {
  width: auto;
  padding-left: 42px;
  line-height: 32px;
}
span.spinner {
  display: inline-block;
}

table.table-with-code {
  table-layout: fixed;
}
