.navbar {
  min-height: 29px + 45px;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-nav > li > a {
  padding: 0;
}

.navbar-inverse {
  background-color: #000;
}

.nav-tabs {
  margin-bottom: 20px;
}

#top-menu {
  margin-top: 17px;
  height: 52px;

  .dropdown-header.user-name {
    color: #000;
    font-size: 14px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

a .badge {
  position: fixed;
  margin-left: 18px;
  z-index: 2;
}
