$active-icon-link: darken(#fdb813, 20%);

.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0;

  h1 {
    font-size: 16pt;
    margin-top: 0;
  }
}

h2 {
  font-size: 14pt;
  margin-bottom: 20px;
}

.panel {
  margin-top: 20px;
}

$section-link: #444;
$section-link-hover: #222;

.section-row {
  background-color: #f4f4f4;
  margin-bottom: 5px;

  .f {
    display: flex;
    flex-flow: row nowrap;

    h4 {
      flex: 1;
    }
  }

  h4, button, .btn {
    margin-top: 10px;
  }

  .actions {
    padding-right: 0;
  }

  a[data-toggle=expand] {
    display: inline-block;
    span {
      font-size: 16px;
      line-height: 24px;
      color: $section-link;

      &:hover {
        color: $section-link-hover;
      }
    }
  }

  .icon {
    color: $section-link;
    cursor: pointer;
  }

  .icon:hover {
    color: $section-link-hover;
  }
}

.section-subheader {
  h5 {
    height: 22px;
    line-height: 22px;
  }

  .action {
    height: 22px;
    margin: 10px 0;
  }
}

.tooltip-more {
  color: #fdb813;
}

table.no-margin {
  margin: 0;
}

a.icon {
  &:active, &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

.icon.active {
  color: $active-icon-link !important;
}

.home-icon {
  margin-left: 24px;
  margin-right: 24px;
}
