$base_color: #fdb813;

.submenu {
  color: #fff;

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  background: #444;
  &.experiments { background: $base_color; }
  &.libraries { background: desaturate($base_color, 40%); }
  &.projects { background: mix($base_color, #666, 10%); }

  .bar {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 1.428571429;
    height: 48px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;

    & > a, & a.dropdown-toggle {
      &[disabled], &[disabled]:hover {
        color: #ccc;
        cursor: default;
      }

      color: #fff;

      &:hover {
        color: #eee;
      }
    }
  }

  li .icon {
    padding-right: 18px;
    width: 42px;
  }

  .icon, .title {
    display: inline-block;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    -moz-flex-basis: 0.000000001px;
    -ms-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    pointer-events: none;
  }

  .dropdown-menu {
    li a {
      height: 46px;
      line-height: 40px;
      padding-left: 15px;
      padding-right: 23px;
    }

    li.no-icon {
      a {
        padding-left: 20px + 24px + 8px + 8px + 14px;
      }
    }
  }
}

