.submenu {
  margin-top: -20px;
  margin-bottom: 20px;
  color: #fff;

  background: #444;
  &.experiments { background: #0f9d58; }
  &.libraries { background: #f4b400; }
  &.projects { background: #3f51b5; }

  .bar {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 1.428571429;
    height: 48px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;

    & > a {
      color: #fff;

      &:hover {
        color: #eee;
      }
    }
  }

  li .icon {
    padding-right: 18px;
    width: 42px;
  }

  .icon, .title {
    display: inline-block;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    flex: 1;
    flex-basis: 0.000000001px;
    pointer-events: none;
  }

  .dropdown-menu {
    li a {
      height: 46px;
      line-height: 40px;
      padding-left: 15px;
      padding-right: 23px;
    }

    li.no-icon {
      a {
        padding-left: 20px + 24px + 8px + 8px + 14px;
      }
    }
  }
}

