- if flash.alert
  .alert.alert-error.header
    .container
      = icon_tag 'warning'
      .msg= flash.alert.html_safe
- if flash.notice
  .alert.header
    .container
      = icon_tag 'info'
      .msg= flash.notice.html_safe
